<h1>Homepage</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%# link_to takes as first argument the link's text, and as second
      argument the link's destination %>
      <%= link_to article.title, article %>
    </li>
  <% end %> 
</ul>