<h1>Homepage</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%# We use the _path as a helper. article_path returns /articles/#{article.id} %>
      <a href="<%= article_path(article) %>">
      <%= article.title %>
      </a>
    </li>
  <% end %> 
</ul>